/RenderTransformAnimation/.vs/RenderTransformAnimation/v15
/RenderTransformAnimation/RenderTransformAnimation/bin
/RenderTransformAnimation/RenderTransformAnimation/obj
/MousePointerCaption/.vs/MousePointerCaption/v15
/MousePointerCaption/MousePointerCaption/bin
/MousePointerCaption/MousePointerCaption/obj
/MousePointerCaption/MousePointerCaption/MousePointerCaption.csproj.user
/PositionElemRightBottom/.vs/PositionElemRightBottom/v15
/PositionElemRightBottom/PositionElemRightBottom/bin
/PositionElemRightBottom/PositionElemRightBottom/obj
/EventsOnOverlyingElements/.vs/EventsOnOverlyingElements/v15
/EventsOnOverlyingElements/EventsOnOverlyingElements/bin
/EventsOnOverlyingElements/EventsOnOverlyingElements/obj
/MoveShapeFilledByImageBrush/.vs/MoveShapeFilledByImageBrush/v15
/MoveShapeFilledByImageBrush/MoveShapeFilledByImageBrush/bin
/MoveShapeFilledByImageBrush/MoveShapeFilledByImageBrush/obj
/RichText/.vs/RichText/v15
/RichText/RichText/bin
/RichText/RichText/obj
