/RenderTransformAnimation/.vs/RenderTransformAnimation/v15
/RenderTransformAnimation/RenderTransformAnimation/bin
/RenderTransformAnimation/RenderTransformAnimation/obj
/MousePointerCaption/.vs/MousePointerCaption/v15
/MousePointerCaption/MousePointerCaption/bin
/MousePointerCaption/MousePointerCaption/obj
/MousePointerCaption/MousePointerCaption/MousePointerCaption.csproj.user
/PositionElemRightBottom/.vs/PositionElemRightBottom/v15
/PositionElemRightBottom/PositionElemRightBottom/bin
/PositionElemRightBottom/PositionElemRightBottom/obj
