/RenderTransformAnimation/.vs/RenderTransformAnimation/v15
/RenderTransformAnimation/RenderTransformAnimation/bin
/RenderTransformAnimation/RenderTransformAnimation/obj
/MousePointerCaption/MousePointerCaption/bin
/MousePointerCaption/MousePointerCaption/obj
/MousePointerCaption/.vs/MousePointerCaption/v15/Server/sqlite3
